{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}
{% load static %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_outer %}
  {% block body %}
  <hr>
        <div class="container">

            <div class="row">

                {% block content %}
                <h1>e-Urban</h1>
                <div class="col-sm-5">
                <p>Η εφαρμογή δίνει την δυνατότητα στους χρήστες να θέσουν ερωτήματα και να ενημερωθoύν για χωροταξικά θέματα.</p>
                <p>Η εφαρμογή βρίσκεται σε beta έκδοση και μπορείτε να πλοηθείτε σε αυτήν επιλέγοντας το παρακάτω πλήκτρο.</p><br>
                <a href="/e_urban/e_urban_map" class="btn btn-primary" role="button">e-Urban</a>
                </div>
                <div class="col-sm-7">
                <img class="img-thumbnail" src="{% static "img/e_urban_app.png" %}" alt="e_urban_app" width="450" height="250">
                </div>
                {% endblock %}

            </div>

        </div>

  {% endblock body %}
  {% block sidebar %}{% endblock sidebar %}
{% endblock body_outer %}

