{% load static %}

  <!-- ExtJS -->
  <script type="text/javascript" src="https://cdn.sencha.com/ext/gpl/4.2.1/examples/shared/include-ext.js"></script>
  <script type="text/javascript" src="https://cdn.sencha.com/ext/gpl/4.2.1/examples/shared/options-toolbar.js"></script>

  <!-- Shared -->
  <link rel="stylesheet" type="text/css" href="https://cdn.sencha.com/ext/gpl/4.2.1/examples/shared/example.css" />
  <!-- Basic example styling -->
  <link rel="stylesheet" type="text/css" href="{% static "js/lib/geoext2/examples/shared/example.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "js/lib/geoext2/resources/css/popup-neptune.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "js/lib/geoext2/resources/css/tree-neptune.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "js/lib/geoext2/resources/css/popup.css" %}"/>

  <!-- Load specific css based on selected theme -->
  <script src="{% static "js/lib/geoext2/examples/shared/theme.js" %}"></script>

  <!-- You should definitely consider using a custom single-file version of OpenLayers -->
  <script src="{% static "js/lib/openlayers2/lib/OpenLayers.js" %}"></script>
  <script type="text/javascript" src="{% static "js/lib/geoext2/examples/loader.js" %}"></script>
  <script type="text/javascript" src="{% static "js/urban_getfeature.js" %}"></script>

<style type="text/css">
        .controls_map_navigation{
	background-image: url('/static/img/pan.png');
        }

        .controls_map_getFeatureInfo{
        background-image: url('/static/img/information.png');
        }

        .controls_map_zoomin{
        background-image: url('/static/img/magnifier_zoom_in.png');
        }

        .controls_map_zoomout{
        background-image: url('/static/img/magnifier_zoom_out.png');
        }
  
        .controls_map_measurearea {
        background-image: url('/static/img/ruler_square.png');
        }

        .controls_map_measureline {
        background-image: url('/static/img/ruler.png');
        }
</style>


<div id="desc">

<hr>
<br>
  <img class="img-thumbnail" src="{% static "img/perifereia_logo.jpg" %}" alt="perifereia_kritis" width="200" height="50">
  <img src="{% static "img/senselab_trans_logo.png" %}">
<hr>
<br>
<button type="button" onclick ="href='/e_urban/'">Επιστροφή</a>
</div>


