{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_outer %}
  {% block body %}
  <hr>
        <div class="container">

            <div class="row">

                {% block content %}
                <h1>e-Πολεοδομία</h1>
                <p>Η εφαρμογή δίνει την δυνατότητα στους χρήστες να θέσουν ερωτήματα και να ενημερωθούν σχετικά</br>
                   με θέματα που αφορούν την Πολεοδομία και την Χωροταξία.</p>
                <p>Η εφαρμογή βρίσκεται σε beta έκδοση και μπορείτε να πλοηθείτε σε αυτήν από τον παρακάτω σύνδεσμο.</p>
                {% url 'crete_gis.e_urban.views.urban_map' as the_url %}
                <p><a href="{{ the_url }}">Εφαρμογή e_urban</a></p>
                {% endblock %}

            </div>

        </div>

  {% endblock body %}
  {% block sidebar %}{% endblock sidebar %}
{% endblock body_outer %}

